@charset "utf-8";
*{margin:0;padding:0;}

body {
  background: linear-gradient(to bottom, #ecf5ff, #FFFFFF);
}

div img{
  margin:0 auto;
  display: block;
}
.fixed{
  position: fixed;
  right:30px;
  bottom:100px;
}
.fixed:hover{
  opacity:0.8;
}
.fixed2{
  position: fixed;
  right:30px;
  bottom:40px;
}
.fixed2:hover{
  opacity:0.8;
}